body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #222;
}

header {
  background-color: #b4b6b8;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  word-spacing: 10px;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between; /* logo kiri, menu + tombol kanan */
  align-items: center;

  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px; /* jarak antar link */
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 15px; /* jarak antara menu dan tombol */
}

/* .navbar { */
/* display: flex; */
/* justify-content: space-between; */
/* align-items: center; Memusatkan item */
/* gap: 15px; */
/* background-color: aliceblue; */
/* } */

/* Hero layout responsif */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

/* Grid untuk fitur */
.features {
  display: grid;
  gap: 20px;
  padding: 40px 20px;
}

/* 3 kolom kalau layar lebar */
@media (min-width: 768px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero {
    flex-direction: row;
    text-align: left;
  }
}

.dark-mode {
  background-color: #222;
  color: #fafafa;
}

.dark-mode header {
  background: #333;
}

.dark-mode footer {
  background: #111;
}
